Programming Folders/eOriginalPost/eOriginalPost/Web References/com.eoriginal.previewondemand/action.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.eoriginal.com/Tcu" elementFormDefault="qualified" targetNamespace="http://www.eoriginal.com/Tcu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="simple.xsd" />
  <xs:include schemaLocation="filter.xsd" />
  <xs:element name="Action" type="action" />
  <xs:element name="ActionList" type="actionList" />
  <xs:complexType name="simpleAction">
    <xs:complexContent mixed="false">
      <xs:extension base="simple">
        <xs:sequence>
          <xs:element minOccurs="0" name="Scope" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="simpleActionList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Action" type="simpleAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="action">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Create">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="simpleAction">
                <xs:choice>
                  <xs:element name="OrgSid" type="xs:long" />
                  <xs:element name="OrgRef" type="xs:string" />
                  <xs:element name="OrgName" type="xs:string" />
                  <xs:element name="IndustrySid" type="xs:long" />
                  <xs:element name="IndustryRef" type="xs:string" />
                  <xs:element name="IndustryName" type="xs:string" />
                </xs:choice>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:sequence>
          <xs:element name="Edit">
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="Sid" type="xs:long" />
                    <xs:element name="Scope" type="xs:int" />
                  </xs:sequence>
                  <xs:element name="ActionRef" type="xs:string" />
                  <xs:element name="ActionFilter" type="filter" />
                </xs:choice>
                <xs:element minOccurs="0" name="Name" type="xs:string" />
                <xs:element minOccurs="0" name="Description" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:element name="Delete">
          <xs:complexType>
            <xs:choice>
              <xs:sequence>
                <xs:element name="Sid" type="xs:long" />
                <xs:element name="Scope" type="xs:int" />
              </xs:sequence>
              <xs:element name="ActionRef" type="xs:string" />
              <xs:element name="ActionFilter" type="filter" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Get">
          <xs:complexType>
            <xs:choice>
              <xs:sequence>
                <xs:element name="Sid" type="xs:long" />
                <xs:element name="Scope" type="xs:int" />
              </xs:sequence>
              <xs:element name="ActionRef" type="xs:string" />
              <xs:element name="ActionFilter" type="filter" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actionList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Action" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actionListOut">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Action" type="actionOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actionOut">
    <xs:sequence>
      <xs:element name="Sid" type="xs:long" />
      <xs:element name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="Description" type="xs:string" />
      <xs:element name="Scope" type="xs:int" />
      <xs:element name="System" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrgSid" type="xs:long" />
      <xs:element minOccurs="0" name="IndustrySid" type="xs:long" />
      <xs:element name="LastUpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>