Programming Folders/eOriginalPost/eOriginalPost/Web References/com.eoriginal.previewondemand/address.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.eoriginal.com/Tcu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Street1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AltPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>