Programming Folders/eOriginalPost/eOriginalPost/Web References/com.eoriginal.previewondemand/configure-invitation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.eoriginal.com/ssweb/ConfigureInvitation" elementFormDefault="qualified" targetNamespace="http://www.eoriginal.com/ssweb/ConfigureInvitation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eoConfigureInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="email">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="role">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="subject">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="body">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="sender">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="firstName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="lastName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="email">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="phone">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="transactionSid" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="emailTemplateName" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="true" name="includeStandardLanguage" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>