Programming Folders/eOriginalPost/eOriginalPost/Web References/com.eoriginal.previewondemand/destruction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.eoriginal.com/ecore/destruction" elementFormDefault="qualified" targetNamespace="http://www.eoriginal.com/ecore/destruction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eoDestructionInstructions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batchName" type="xs:string" />
        <xs:element name="tokenName" type="xs:string" />
        <xs:element name="tokenPassword" type="xs:string" />
        <xs:choice>
          <xs:element ref="transactionList" />
          <xs:element ref="documentList" />
          <xs:element ref="groupTransactionIdentifier" />
          <xs:element ref="groupDocumentIdentifier" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="transaction">
          <xs:complexType>
            <xs:attribute name="id" type="xs:long" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="document">
          <xs:complexType>
            <xs:attribute name="id" type="xs:long" use="required" />
            <xs:attribute default="none" name="retain" type="retentionAtt" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupTransactionIdentifier">
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="xref1" />
            <xs:enumeration value="xref2" />
            <xs:enumeration value="xref3" />
            <xs:enumeration value="state" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="groupDocumentIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="retentionPolicy">
          <xs:complexType>
            <xs:attribute name="electronicOriginal" type="retentionAtt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="xref1" />
            <xs:enumeration value="xref2" />
            <xs:enumeration value="xref3" />
            <xs:enumeration value="state" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="retentionAtt">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eCopy" />
      <xs:enumeration value="none" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>