Programming Folders/eOriginalPost/eOriginalPost/Web References/com.eoriginal.previewondemand/global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.eoriginal.com/Tcu" elementFormDefault="qualified" targetNamespace="http://www.eoriginal.com/Tcu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="filter.xsd" />
  <xs:element name="Global" type="global" />
  <xs:complexType name="global">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Filter" type="filter" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>