Programming Folders/eOriginalPost/eOriginalPost/Web References/com.eoriginal.previewondemand/group.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.eoriginal.com/Tcu" elementFormDefault="qualified" targetNamespace="http://www.eoriginal.com/Tcu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="user.xsd" />
  <xs:include schemaLocation="permission.xsd" />
  <xs:include schemaLocation="simple.xsd" />
  <xs:include schemaLocation="filter.xsd" />
  <xs:element name="Group" type="group" />
  <xs:element name="GroupList" type="groupList" />
  <xs:complexType name="simpleGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="simple">
        <xs:sequence>
          <xs:choice minOccurs="0">
            <xs:element name="PrimaryContactSid" type="xs:long" />
            <xs:element name="PrimaryContactRef" type="xs:string" />
            <xs:element name="PrimaryContactFilter" type="filter" />
          </xs:choice>
          <xs:element minOccurs="0" name="GroupList" type="simpleGroupList" />
          <xs:element minOccurs="0" name="UserList" type="simpleUserList" />
          <xs:element minOccurs="0" name="Acl" type="acl" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="simpleGroupList">
    <xs:choice>
      <xs:element maxOccurs="unbounded" name="Group" type="simpleGroup" />
      <xs:element maxOccurs="unbounded" name="GroupSid" type="xs:long" />
      <xs:element maxOccurs="unbounded" name="GroupRef" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="GroupFilter" type="filter" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="group">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Create">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="simpleGroup">
                <xs:choice>
                  <xs:element name="OrgSid" type="xs:long" />
                  <xs:element name="OrgRef" type="xs:string" />
                  <xs:element name="OrgName" type="xs:string" />
                </xs:choice>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:sequence>
          <xs:element minOccurs="0" name="Edit">
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:element name="Sid" type="xs:long" />
                  <xs:element name="GroupRef" type="xs:string" />
                  <xs:element name="GroupFilter" type="filter" />
                </xs:choice>
                <xs:element minOccurs="0" name="Name" type="xs:string" />
                <xs:element minOccurs="0" name="Description" type="xs:string" />
                <xs:choice minOccurs="0">
                  <xs:element name="PrimaryContactSid" type="xs:long" />
                  <xs:element name="PrimaryContactRef" type="xs:string" />
                  <xs:element name="PrimaryContactFilter" type="filter" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Add">
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:element name="Sid" type="xs:long" />
                  <xs:element name="GroupRef" type="xs:string" />
                  <xs:element name="GroupFilter" type="filter" />
                </xs:choice>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="Acl" type="acl" />
                  <xs:element name="GroupList">
                    <xs:complexType>
                      <xs:choice>
                        <xs:element maxOccurs="unbounded" name="GroupSid" type="xs:long" />
                        <xs:element maxOccurs="unbounded" name="GroupRef" type="xs:string" />
                        <xs:element maxOccurs="unbounded" name="GroupFilter" type="filter" />
                      </xs:choice>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="UserList">
                    <xs:complexType>
                      <xs:choice>
                        <xs:element maxOccurs="unbounded" name="UserSid" type="xs:long" />
                        <xs:element maxOccurs="unbounded" name="UserRef" type="xs:string" />
                        <xs:element maxOccurs="unbounded" name="UserFilter" type="filter" />
                      </xs:choice>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Remove">
            <xs:complexType>
              <xs:sequence>
                <xs:choice>
                  <xs:element name="Sid" type="xs:long" />
                  <xs:element name="GroupRef" type="xs:string" />
                  <xs:element name="GroupFilter" type="filter" />
                </xs:choice>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="Acl" type="acl" />
                  <xs:element name="GroupList">
                    <xs:complexType>
                      <xs:choice>
                        <xs:element maxOccurs="unbounded" name="GroupSid" type="xs:long" />
                        <xs:element maxOccurs="unbounded" name="GroupRef" type="xs:string" />
                        <xs:element maxOccurs="unbounded" name="GroupFilter" type="filter" />
                      </xs:choice>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="UserList">
                    <xs:complexType>
                      <xs:choice>
                        <xs:element maxOccurs="unbounded" name="UserSid" type="xs:long" />
                        <xs:element maxOccurs="unbounded" name="UserRef" type="xs:string" />
                        <xs:element maxOccurs="unbounded" name="UserFilter" type="filter" />
                      </xs:choice>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:element name="Delete">
          <xs:complexType>
            <xs:choice>
              <xs:element name="Sid" type="xs:long" />
              <xs:element name="GroupRef" type="xs:string" />
              <xs:element name="GroupFilter" type="filter" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Get">
          <xs:complexType>
            <xs:choice>
              <xs:element name="Sid" type="xs:long" />
              <xs:element name="GroupRef" type="xs:string" />
              <xs:element name="GroupFilter" type="filter" />
            </xs:choice>
            <xs:attribute default="false" name="includeAcl" type="xs:boolean" use="optional" />
            <xs:attribute default="false" name="includeGroupList" type="xs:boolean" use="optional" />
            <xs:attribute default="false" name="includeUserList" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupListOut">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Group" type="groupOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupOut">
    <xs:sequence>
      <xs:element name="Sid" type="xs:long" />
      <xs:element name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="Description" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryContactSid" type="xs:long" />
      <xs:element name="OrgSid" type="xs:long" />
      <xs:element name="LastUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Acl" type="aclOut" />
      <xs:element minOccurs="0" name="GroupList" type="groupListOut" />
      <xs:element minOccurs="0" name="UserList" type="userListOut" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>